@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #5d6ec7;
	--dark-color-b: #9f71db;
	--bg-image: url('https://img.freepik.com/premium-photo/sapphire-serenity-blur-abstract-background-captivating-sapphire-hues_954894-11575.jpg');
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {

	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--bg-image);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 30px;
	overflow-y: hidden;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 4px 15px;
	color: var(--light-color-b);
	background: var(--dark-color-a);
	border: 50;
	font-size: 20px;
	border-radius: 20px;
}

/* --------------------------------------------------------Chat Page----------------------------------------------------------------------------- */
.chat-container {
	border-radius: 10px;
	max-width: 1800px;
	display: flex;
	flex-direction: column;
	background: #fff;
	overflow: hidden;
}

/* <---header---> */
.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px;
	display: flex;
	align-items: first baseline;
	justify-content: space-around;
}

.chat-header h1 {
	padding-top: 10px;
	font-size: 30px;
	color: #fff;
	text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
		0px 0px 20px #b393d3;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* <---header---> */

/* <---Controls bar--> */
#controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	height: 35px;
	background-color: #e2e7fe;
}

#clearCanvasButton {
	cursor: pointer;
	color: var(--light-color-b);
	background: var(--dark-color-a);
	font-size: 18px;
	border-radius: 20px;
	width: 60px;
}

#brushSizeSlider {
	-webkit-appearance: none;
	height: 10px;
	border-radius: 8px;
	border: 0.09rem solid black;
	background: rgb(240, 211, 255);

}

#brushSizeSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 60%;
	background: #5d6ec7;
	border: 0.09rem solid black;
	cursor: pointer;
}

#toolContainer {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 5px;
	align-items: center;
}

.toolBarButton {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 30px;
	height: 30px;
	border: 2px solid gray;
	border-radius: 4px;
}

#colorContainer {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 5px;
}

.ColorPickerButton {
	cursor: pointer;
	width: 25px;
	height: 25px;
	border-radius: 4px;
}

/* <---Controls bar--> */

#timer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	height: 35px;
	background-color: #e2e7fe;
}



.chat-main {
	display: flex;
	grid-template-columns: 1fr 4fr 1fr;
}

/* <---chat sidebar--> */
.chat-sidebar {
	width: 25%;

	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: hidden;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

/* <---chat sidebar--> */

/* <---canvas--> */
#canvasContainer {
	height: 501px;
}

/* <---canvas--> */


/* <---chat message form--> */
.chat-messages {
	width: 500px;
	padding: 30px;
	max-height: 550px;
	overflow-y: scroll;
	background-color: rgb(240, 211, 255)
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

/* <---chat message form--> */


/* <---chat input bar--> */
.chat-form-container {
	padding: 10px 0px 10px 0px;
	background-color: #e2e7fe;
	display: flex;
	justify-content: flex-end;
}

.chat-form-container form {
	width: 400px;
	height: 30px;
	padding-left: 40px;
}

.chat-form-container input[type='text'] {

	font-size: 18px;
	padding: 5px;
	height: 35px;
	flex: 1;
	align-self: stretch;
}

/* <---chat input bar--> */
/*-------------------------------------------------------------------chat page end-------------------------------------------------------------------*/
/*--------------------------------------------------------------------Join Page--------------------------------------------------------------------- */
.join-container {
	max-width: 500px;
	margin: 100px auto;
	color: #ffffff;
	background-size: cover;
}

.join-header {
	text-align: center;
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 16px;
	text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
		0px 0px 20px #b393d3;
	background: var(--dark-color-a);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.join-main {
	padding: 25px 40px;
	background: var(--dark-color-b);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 10px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 20px;
	font-family: sans-serif;
	padding: 15px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}



.mars {
	position: absolute;
	top: 48%;
	left: 5%;
	width: 300px;
	height: 300px;
	background-image: url('https://lh3.googleusercontent.com/pw/ADCreHd_lIqLFpq5YiomRnkk9VJuDA31tO0d11Y21faOfX36aflNLJ7mGPAUfYINsGNYw1gRHgLVP8Hcy2agSMczH2rxcmLYxqYhcAPbCCe1pD1_n0gZBlJen_3ICr4q-eocosDCgIsgBrRev9gXOsJGPHMoSi7DaNeiFx_TWlaUTkp-M7zf9Ka3LO2r2bunWH-D0o-auBUf_BIrx-oy01OQ-u1XSoeLZkvt8_npeUl1PpPqyrm0I6pIt5oHCr69HWAlPCu9tK52tSO6nsUIRM0X22qtaFA5Cc7Vv4LD22AsI8Q-JXEWPs-ANet0WeAPXTmZ7jtk9kf0zrSf_09G6-_ZS5oXQ93qjsZQA5pw5o8mdGfWiA93pYclm89BpuPCHFJ5tuN4KdJQoyhREEscZT-KVtQhm3i6Br4fdspAy1-Dugnoq9tvylZL2isdN53IWVBQ2327CU-iopeXTb4zZVDUhO8yykdx-A1ACV_QY0m3gDG1MaTW-FZT-6DFuG-fm9Jd1j_HAK3Uz5yv0NenaOB3CDliVW3OphNuOYaZ3xIGaa663-xQGxVC3c-7M2YgdsBMUqCkfa20bA3ETYAxoi4tnBMnGme1tgAr8E3qCfLytoxeUtK_i7Lzhi02ukLzX5NFlkjVlH1Jxgtt05dV9epEAU118NfePbjHFbqMbdyRz2am3U_tppBDIsL53rsjqX8oncqDUZsHIEOQro55ij7oTFnUAHx5B7GiwRoByXQk0bIbtbC4d4Mj69wkYD_X_gWa3xXq2sfrApB1kL7mVqMpEgPAT-BQnzOUSYz9Plx44Upi0PgCe9OrZ1zfsbEZZuLNnZmUbR7-JAvUTM66WqeoDpkgtuxpGAhurLgZ3mhL_xWHnkTH_BbOUdqB9aSIY5iJaqTG1ZPErPki1-_M_JX0pQ=w300-h300-s-no-gm?authuser=0');
	border-radius: 50%;
	line-height: 180px;
	text-align: center;
	text-transform: uppercase;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;

	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;

}

.mars:hover {
	cursor: pointer;
	animation-name: bounce;
	-moz-animation-name: bounce;
}

.sun {
	position: absolute;
	top: 10%;
	right: 6%;
	width: 200px;
	height: 200px;
	background-image: url('https://lh3.googleusercontent.com/pw/ADCreHf-V8jXUnrYkUQwpWuET2I4bOcaas9iUwEkX7IdqPM04edVQE3-ohIjRvcGtlG0QnuX14k9iTTvTVUlwG7u-0m1aMJLi1UPp1mKL3ddy2911Ql0UNBNtScYdSSrFz8kaI6BKhbGpYvK-Xs5cIU7BSSJgEUYrbK3TbqPQ4Hg7CUtT1Jo9KCcpSX9kjon9ZQ3BzsQ7J111aUUK7FrqYWoYF6dKG93AlkLD9KDN6TINdiPM3L13EwBcfne0c7wQmo_u7IZYBqVOIgB0ZG-OB90-U990u4hy4Vaztkyf6elrUsb1A_5R8Hzps6Nh8DgmXbRnw4VU4ud886G7A1jFC8iSgs6_lTy2NDtd3XRivhkHHzUpT_KriI3Jy771uAUTStx3PL8TiQkqoRAjjtEV5jTgYStLfbYB8Yq-Lx_qx1En9WgKh14yXPG5p8LeKsT8zDb-CipvX03DNCnsenBrsF1XHq1mstrsVwAj7V99GxpRFINfi9F2rw5tqHqWi1cTXb0w8bKIKwYxJUkWhXM5OmOnspr28bvh6SSxXqx6Xsmpss2vljbIGlsiJnKG2kfa5L-_FdMNfEH9XHYofHUicjfbq3p3xWnBa2zAQyD46s7Dw9sCVAA-51MK_SKN4vf6OG3Rs6kMA2dNB2wEmxBsrclILMY0DiI2HZTNX-Y1uMilTzynD4demj_ZTIMlegMkBDGrsGM6K6DLqiJgu63DH22YFZuZyKTtWbN0ulIyEznHvlEwaekFdXMXbv9khmkL4V8Fy1dzKkR013fNzMzZTFUKMMVZAVuIobsz3H8dQiiAvCxHQw25sG7JhpsR1v3C7eQIlz7H1CdtnIjvFFYJXn2FO14PAqIXMhz4PShcOwNQRJ9HdrU5GtNRc0rXC8KIPmc3ddVS3b74l2OcvEEb4ZoIQ=w200-h200-s-no-gm?authuser=0');
	border-radius: 50%;
	line-height: 180px;
	text-align: center;
	text-transform: uppercase;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;

}

.sun:hover {
	cursor: pointer;
	animation-name: bounce;
	-moz-animation-name: bounce;
}

/*--------------------------------------------------------------------Join Page ENd--------------------------------------------------------------------- */